[submodule "piddump"]
	path = piddump
	url = https://github.com/mikeguidry/piddump.git
[submodule "apiproxy_public"]
	path = apiproxy_public
	url = https://github.com/mikeguidry/apiproxy_public
[submodule "apiproxy"]
	path = apiproxy
	url = https://github.com/mikeguidry/apiproxy
[submodule "psykoosi"]
	path = psykoosi
	url = https://github.com/mikeguidry/psykoosi
